{{ define "create" }}

{{ template "header" }}

        <!-- <main class="px-3"> -->
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Add article</h1>
            <p class="lead"></p>
            <form name="form" action="/save_article/" method="post">
                <input type="text" name="title" id="title" placeholder="Input the article title" class="form-control"><br>
                <textarea name="anounce" id="anounce" class="form-control" placeholder="input the article anouncement"></textarea><br>
                <textarea name="article_text" id="article_text" class="form-control" placeholder="input the article text"></textarea><br>
                <!-- <button class="btn btn-warning">Add</button><br> -->
                <button class="btn btn-lg btn-secondary fw-bold border-white bg-white">Add</button><br>
            </form>

        </main>

{{ template "footer" }}

{{ end }}
