{{ define "database_query" }}

{{ template "header" }}

        <!-- <main class="px-3"> -->
        <main role="main" class="inner cover">
            <h1 class="cover-heading">SQL</h1>
            <p class="lead"></p>
            <form name="form" action="/run_query/" method="post">
                <input type="text" name="query" id="query" placeholder="Input query" class="form-control"><br>
                <button class="btn btn-lg btn-secondary fw-bold border-white bg-white">Run</button><br>
            </form>
            <p class="lead"></p>
            {{ if . }}
                {{ range . }}
                    <li>{{ . }}</li>
                {{ end }}
            {{ end }}
            <p class="lead"></p>
        </main>

{{ template "footer" }}

{{ end }}
