{{ define "header" }}

{{ template "head"}}

<body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">
                    <a class="main-page-link fw-bold py-1 px-0 text-white" href="/main/">
                        Simple site
                    </a>
                </h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <!-- <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/main"><p> Home </p></a> -->
                    <a class="nav-link fw-bold py-1 px-0" href="/contacts/"><p> Contacts </p></a>
                    <a class="nav-link fw-bold py-1 px-0" href="/about/"><p> About </p></a>
                    <a class="nav-link fw-bold py-1 px-0" href="/list_articles/"><p> Articles </p></a>
                    <a class="nav-link fw-bold py-1 px-0" href="/create/"><p> Add post </p></a>
                </nav>
            </div>
        </header>

{{ end }}
